# Node Environment
NODE_ENV=development

# Server Port
PORT=3001

# Database Configuration
DB_HOST=sql.freedb.tech
DB_PORT=3306
DB_USER=freedb_tuanle2901
DB_PASSWORD=8KWDRXuY!AbwG%S
DB_NAME=freedb_vien_lua
